# gradle
.gradle/
build/
out/
classes/

# IntelliJ IDEA
.idea/
*.ipr
*.iws
*.iml

# Eclipse
.settings/
.classpath
.project
bin/

# VS Code
.vscode/

# Fabric / development environment
run/
remappedSrc/
